<%= render "layouts/navbar" %>
<%= render "layouts/header" %>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm-5">
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%= name %>'>
          <%= msg %>
        </div>
      <% end %>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Create New Product</h3>
      <%= render 'form' %>
    </div>
  </div>
</div>
