<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= display_meta_tags site: 'Miles of Smiles',
                          og: {
                            title:    "Miles of Smiles",
                            description: "eCommerce Photography Websites",
                            type:     'website',
                            url:      'https://miles-of-smiles.herokuapp.com/',
                            image:    [{
                                _: 'https://s.yimg.com/uu/api/res/1.2/9oS4nQ.Jctunk3mN_e4A9w--~B/aD0yNTIzO3c9NDI3NTtzbT0xO2FwcGlkPXl0YWNoeW9u/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/fb42f1db679d097f7124e3cbdad5cea7',
                                width: 4275,
                                height: 2523,
                            }]
                          } %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
      
      <%= yield %>

  </body>
</html>
