<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= display_meta_tags site: 'Miles of Smiles',
                          og: {
                            title:    "Miles of Smiles",
                            description: "eCommerce Photography Websites",
                            type:     'website',
                            url:      'https://miles-of-smiles.herokuapp.com/',
                            image:    '<%= image_tag "cover.jpg"=>'
                          } %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
      
      <%= yield %>

  </body>
</html>
