<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Miles of Smiles" />
    <meta property="og:description" content="eCommerce Photography Websites" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://miles-of-smiles.herokuapp.com/" />
    <meta property="og:image" content='<%= image_tag("cover.jpg") %>' />
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <%= yield %>
  </body>
</html>
